@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #f2f5fa;
  }
  
.channel-list__list__wrapper {
    width: 100%;
}

.channel-list__list__wrapper {
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    width: 240px;
}
.team-channel-list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .team-channel-list__header {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .team-channel-list__header svg {
    cursor: pointer;
  }
  
  .team-channel-list__header__title {
    font-family: Helvetica Neue, sans-serif;
    font-size: 13px;
    line-height: 16px;
    height: 16px;
    color: rgba(255, 255, 255, 0.66);
    margin-bottom: 10px;
  }
  #add-channel__title{
    color: red !important;
    font-family: 'Courier New', Courier, monospace;
    font-size: 900px;
  }
